/*
FUNÇÕES PADRÕES START
*********************************************************************/
.clear,
.first {
  clear: both;
}
/*********************************************************************
FUNÇÕES PADRÕES END
*/
/*
NON-RESPONSIVE START
**********************************************************************************************/
/* ALTERAR APENAS ESTAS VARIAVEIS DE ACORDO COM O PROJETO START */
.container {
  max-width: none !important;
  width: 960px;
}
.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* ALTERAR APENAS ESTAS VARIAVEIS DE ACORDO COM O PROJETO END */
/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px;
}
.page-header .lead {
  margin-bottom: 10px;
}
/* Non-responsive overrides** Utilitze the following CSS to disable the responsive-ness of the container,* grid system, and navbar.*/
/* Reset the container */
/* Always float the navbar header */
.navbar-header {
  float: left;
}
/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}
.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}
.navbar-brand {
  margin-left: -15px;
}
/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}
/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}
/**********************************************************************************************
NON-RESPONSIVE END
*/
::selection {
  background-color: #4c8438;
  color: #FFF;
}
::-moz-selection {
  background-color: #4c8438;
  color: #FFF;
}
small {
  display: inline-block;
  line-height: 1.1;
}
textarea {
  resize: vertical;
}
a {
  transition: all 0.25s ease 0s;
}
/*
FONTS START
**********************************************************************************************/
.box-atuacao .box-content,
.site-tablet .img.destaque {
  font-family: 'ralewayheavy', Arial, sans-serif;
}
/**********************************************************************************************
FONTS END
*/
/*
ESTRUTURA START
**********************************************************************************************/
body {
  background: url(../imagem/site/bg-x.jpg) repeat-x top;
}
.extra-geral {
  background: url(../imagem/site/bg.jpg) no-repeat center top;
  min-height: 5368px;
  min-width: 960px;
}
.site-header {
  height: 168px;
}
.site-header .logotipo {
  display: inline-block;
  padding-top: 10px;
}
.site-tablet {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.site-tablet .container {
  position: relative;
}
.site-tablet .box-tablet {
  position: absolute;
  right: 113px;
  bottom: 47px;
  z-index: 1010;
}
.site-tablet .box-tablet .tablet {
  position: absolute;
  z-index: 1;
  left: -120px;
  top: -14px;
}
.site-tablet .box-tablet .hands {
  position: absolute;
  z-index: 3;
  left: -100px;
  top: 30px;
}
.site-tablet .box-tablet .imagens {
  position: relative;
  z-index: 2;
  width: 276px;
  height: 192px;
  overflow: hidden;
  background: #4d8537;
}
.site-tablet .box-tablet .imagens .img {
  position: absolute;
  left: 0;
  top: 0;
  background: #4d8537;
  right: 0;
  bottom: 0;
}
.site-tablet .box-tablet .imagens .img.txt {
  padding: 20px;
  color: #FFF;
  font-size: 12px;
}
.site-tablet .box-tablet .imagens .img.txt .media-heading {
  color: #000;
}
.site-tablet .box-tablet .imagens .img.txt .title {
  color: #bad869;
}
.site-tablet .box-tablet .imagens .img.destaque {
  text-align: center;
  font-size: 22px;
  color: #e2e79e;
}
.site-tablet .box-tablet .imagens .img.destaque .title {
  max-width: 96%;
}
.site-tablet .box-tablet .imagens .img.destaque * {
  display: inline-block;
  vertical-align: middle;
}
.page {
  height: 750px;
}
.page#page-sobre .box-perfil {
  padding: 33px 14px 0 21px;
  color: #23607d;
  text-align: center;
  line-height: 1.2;
}
.page#page-sobre .box-perfil .box-img {
  margin-bottom: 16px;
}
.page#page-sobre .box-perfil .box-content {
  padding-left: 10px;
  padding-right: 10px;
}
.page#page-sobre .box-sobre {
  text-align: center;
  color: #FFF;
  padding: 30px 40px 0;
}
.page#page-2 {
  color: #FFF;
  line-height: 1;
}
.page#page-3 .media-heading {
  color: #FFF;
  line-height: 1;
}
.page#page-3 .box-content {
  padding: 0 18px 0 0;
  position: relative;
}
.page#page-3 .box-content .box-imagem {
  position: absolute;
  left: 23px;
  top: 286px;
  overflow: hidden;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  -o-border-radius: 150px;
  border-radius: 150px;
  width: 177px;
  height: 179px;
}
.page#page-3 .box-content-2 {
  padding: 78px 0 0 40px;
}
.page#page-4 .box-content {
  padding: 152px 34px 0 84px;
}
.page#page-4 .box-content-2 {
  padding: 78px 0 0 40px;
}
.page#page-4 .box-content-2 .media-heading {
  color: #FFF;
  line-height: 1;
}
.page#page-5 {
  height: 832px;
}
.page#page-5 .media-heading {
  color: #90b73e;
}
.page#page-5 .box-content {
  padding: 184px 34px 0 0px;
}
.page#page-5 .box-content .box-imagem {
  text-align: center;
}
.page#page-5 .box-content .box-imagem > span,
.page#page-5 .box-content .box-imagem > a,
.page#page-5 .box-content .box-imagem > img {
  display: inline-block;
  vertical-align: middle;
}
.page#page-5 .box-content-2 {
  padding: 78px 0 0 40px;
}
.page#page-6 {
  padding-top: 86px;
}
.page#page-6 .media-heading {
  margin-bottom: 40px;
  color: #FFF;
}
.site-footer .media-heading {
  color: #FFF;
}
.site-footer .box-contato {
  padding: 154px 0 0 0;
}
.site-footer .box-atuacao {
  height: 408px;
}
.site-footer .box-atuacao .box-header {
  padding: 96px 174px 0 222px;
  text-align: center;
}
.site-footer .box-atuacao .box-content {
  padding: 10px 380px 0 0;
}
.site-footer .box-skype {
  padding: 20px 60px 0 30px;
  font-size: 12px;
  text-align: justify;
  height: 163px;
}
.site-footer .box-direitos {
  color: #90b73e;
  padding-top: 16px;
  padding-left: 30px;
}
/**********************************************************************************************
ESTRUTURA END
*/
/*
CLASSES START
**********************************************************************************************/
[class^='lista-'],
[class^='lista-'],
[class^='menu-'],
[class^='menu-'] ul,
.cycle-slideshow {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.btn-gray {
  background: #EEE;
  color: #C93F2A;
}
.btn-rounded {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}
.imagem {
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
}
.imagem-rounded {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}
.imagem img {
  max-width: 135%;
}
.inline-block {
  display: inline-block;
}
[class^='icon-'],
[class*='icon-'] {
  background-repeat: no-repeat;
  vertical-align: middle;
  display: inline-block;
  background-image: url(../imagem/site/icon.png);
}
.popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1040;
}
.popup .popup-content {
  position: absolute;
  left: 50%;
  top: 40px;
  width: 600px;
  text-align: center;
}
.popup .popup-img {
  display: block;
  z-index: 1;
}
.popup .popup-close {
  text-shadow: 1px 1px 0 #000;
  text-align: center;
  color: #FFF;
  display: block;
  transition: all 0.25s ease 0s;
  position: absolute;
  right: -30px;
  top: -30px;
  z-index: 5;
  font-size: 10px;
  text-decoration: none;
}
.popup .popup-close span {
  -moz-border-radius: 150px;
  border-radius: 150px;
  background-color: #000;
  width: 50px;
  height: 50px;
  padding: 10px 0;
  font-size: 20px;
  display: block;
  transition: all 0.25s ease 0s;
}
.popup .popup-close:hover span {
  background-color: #333;
}
.space {
  width: 1%;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.relative {
  position: relative;
}
/**********************************************************************************************
CLASSES END
*/
/*
JQUERY UI START
**********************************************************************************************/
/**********************************************************************************************
JQUERY UI END
*/
@media (max-width: 767px) {
  /*    .site-geral:before {content:"TABLET";}*/
}
@media (max-width: 480px) {
  /*#GERAL:before {content:"MOBILE";}*/
}
@media (min-width: 981px) and (max-width: 1200px) {
  /*#GERAL:before {content:"ACIMA DE TABLET";}*/
}
